@import '../../App.scss';


.upfront-payment {
  display: flex;
  align-items: center;
}

.question {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.limit-label {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.payment-details {
  display: flex;
  flex-direction: column;
}